table,th,td{
                border: 2px solid rgb(39, 39, 231);
                padding: 2px;
                border-collapse: collapse;
                text-align: center;
             }
th{
    background-color: teal;
    color: white;
}
tr:nth-child(even) {
    background-color:plum;
}
.Para{
background-color: rgb(162, 150, 235);
color: rgb(189, 26, 26);
font-family: 'Times New Roman', Times, serif;
font-weight: 200;
font-size: medium;
}

.para2{
        background-color: rgb(82, 228, 172);
        color: rgb(238, 17, 91);
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
        font-size: medium;
}
.formbody{
    background-color: rgb(211, 165, 184);
    border: 5px solid rgb(0, 0, 2);
    border-radius: 5px;
}

.facts{
    border:4px solid chocolate;
    border-radius: 4px;
    padding: 2px;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 60px;
    background-color: lightpink;
}

.img_{ float: right;
}

body{
    background-color: rgb(189, 230, 255);
}

